<!DOCTYPE html>
<html>
<head>
  <title>Guess the Number</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="mb-4">Guess the Number</h1>
    <audio controls class="mb-4">
      <source id="audioSource" src="{{ url_for('static', filename='translated_number.mp3') }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <br>
    <input type="number" id="numberInput" onchange="compareNumber()" min="1" max="100" class="form-control mb-2" style="width: auto; display: inline-block;">
    <button onclick="revealNumber()" class="btn btn-primary mb-2">Reveal</button>
    <br>
    <button onclick="refreshNumber()" class="btn btn-secondary mb-2">Refresh</button>
    <p id="message"></p>
  </div>
  <script>
    var number = "{{ number }}";
    var translatedNum = "{{ translated_num }}";

    function refreshNumber() {
      fetch('/refresh')
        .then(response => response.json())
        .then(data => {
          document.getElementById('audioSource').src = "{{ url_for('static', filename='translated_number.mp3') }}?cb=" + Date.now();
          document.querySelector('audio').load();
          document.getElementById('numberInput').value = '';  // Clear the input box
          document.getElementById('message').textContent = '';  // Clear the message
          number = data.number;
          translatedNum = data.translated_num;
        });
    }

    function revealNumber() {
      document.getElementById('message').textContent = 'The number was ' + number + ', which is ' + translatedNum + ' in French.';
    }

    function compareNumber() {
      var userNumber = document.getElementById('numberInput').value;
      if (userNumber == number) {
        document.getElementById('message').textContent = 'Congratulations! You guessed the number correctly.';
      } else {
        document.getElementById('message').textContent = 'That\'s not correct, but don\'t give up! Try again!';
      }
    }
  </script>
</body>
</html>
